
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1> Quotient Orbifolds </h1>
    <p>Choose a genus and number of punctures (we require that g &#x2265; 0, n > 0 and 6g - 3n + 6 > 0) </p>
    
    <div> <img src="{% static 'surface.svg' %}" alt="Generating set" width=60% class="marginauto"> </div>
    
    <p> Try <tt>a_0.b_0.c_0.b_1</tt> on S<sub>2,1</sub> </p>
    
    <form action='' method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} <br/>
                {{ field }}
            </div>
        {% endfor %}
        <input type='submit' value='Submit'>
    </form>
    
    {% if order != None %}
        <h2>Mapping Class</h2>
        {% if order > 0 %}
            <p>Periodic mapping class of order {{ order }}</p>
            <h2>Signature </h2>
            <ul>
            <li>Euler Characteristic: {{ signature.euler_characteristic }} </li>
            <li>Cone points:
            <ul>
            {% for conepoint in signature.cone_points %}
                {% if not conepoint.punctured %}
                <li> Cone point of order {{ conepoint.rotation.denominator }} (with {{ conepoint.preimages }} preimage{% if conepoint.preimages > 1 %}s{% endif %} where the first return map rotates by {{ conepoint.rotation }}) </li>
                {% endif %}
            {% endfor %}
            </ul>
            <li> Punctures:
            <ul>
            {% for conepoint in signature.cone_points %}
                {% if conepoint.punctured %}
                <li> Puncture of order {{ conepoint.rotation.denominator }} (with {{ conepoint.preimages }} preimage{% if conepoint.preimages > 1 %}s{% endif %} where the first return map rotates by {{ conepoint.rotation }}) </li>
                {% endif %}
            {% endfor %}
            </ul> </li>
            </ul>
        {% else %}
            <p>Non-periodic mapping class (infinite order)</p>
        {% endif %}
        
        <p>Computed using <a href="https://curver.readthedocs.io">Curver {{ version }}</a>.</p?
    {% endif %}
{% endblock %}

