
{% extends 'base.html' %}

{% macro render_field(field) %}
<td>{{ field.label }}</td>
<td>{{ field(**kwargs)|safe }}</td>
{% if field.errors %}
    <td>
    <ul class=errors>
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    </td>
{% endif %}
{% endmacro %}

{% block content %}
    <h1> Quotient Orbifolds </h1>
    
    <p class="ex1">
    <a href="https://curver.readthedocs.io">Curver</a> solves the conjugacy problem for periodic mapping classes by computing their quotient orbifold (and covering map), a total conjugacy invariant.
    You can perform this calculation here, where the covering map is described by the rotation numbers about the cone points.
    </p>
    
    <p class="ex1">
    To do this, choose a surface S<sub>g,n</sub> by specifying a genus and number of punctures (we require that g &#x2265; 0, n > 0 and 6g - 3n + 6 > 0).
    Then pick some words (separated by <tt>;</tt>) corresponding to a periodic mapping class in the generating set:
    <div> <img src="{{ url_for('static', filename='surface.svg') }}" alt="Generating set" width=60% class="marginauto"> </div>
    For example, try <tt>a_0.b_0.c_0.b_1</tt> on S<sub>2,1</sub> or one of the other <a href="{{ url_for('examples') }}">examples</a>.</p>
    
    <form action='' method='post'>
        <table class="meeting">
        {% for name in form %}
            <tr>
            {{ render_field(name) }}
            </tr>
        {% endfor %}
        </table>
        <input type='submit' value='Submit'>
    </form>
    
    {% if error %}
        <p class="ex1">Error: {{ error }}</p>
    {% endif %}
    
    {% if classes %}
        <h2>Conjugacy Classes</h2>
        {% for signature, words in classes.items() %}
        <button class="collapsible">{% for word in words %}{% if word %}{{word}}{%else%} &empty; {%endif%}{% if not loop.last %}, {% endif %}{% endfor %}</button>
        <div class="content">
        <p class="ex1">Periodic mapping class of order {{ signature.order }} with quotient:
        <ul>
        <li>Euler Characteristic: {{ signature.euler_characteristic }} </li>
        <li>Cone points:
        <ul>
            {% for conepoint in signature.cone_points %}
                {% if not conepoint.punctured %}
                    <li> Cone point of order {{ conepoint.order }} (with {{ conepoint.preimages }} preimage{% if conepoint.preimages > 1 %}s{% endif %} where the first return map rotates by {{ conepoint.rotation }}) </li>
                {% endif %}
            {% endfor %}
        </ul>
        <li> Punctures:
        <ul>
            {% for conepoint in signature.cone_points %}
                {% if conepoint.punctured %}
                    <li> Puncture of order {{ conepoint.order }} (with {{ conepoint.preimages }} preimage{% if conepoint.preimages > 1 %}s{% endif %} where the first return map rotates by {{ conepoint.rotation }}) </li>
                {% endif %}
            {% endfor %}
        </ul> </li>
        </ul> </p>
        </div>
        {% endfor %}
    {% endif %}
    
    {% if non_periodic %}
        <h2>Non-periodic Mapping Classes</h2>
        <ul>
            {% for word in non_periodic %}
                <li> {{ word }} </li>
            {% endfor %}
        </ul>
        <p class="ex1">Non-periodic mapping class (infinite order)</p>
    {% endif %}
    
    <p class="ex1">Computed using <a href="https://curver.readthedocs.io">Curver {{ version }}</a>.</p>
    
    <script src="{{ url_for('static', filename="collapse.js") }}"></script>

{% endblock %}

